
<body>
    <br>
    <h1><span class='welcome'>WELCOME USER</span> </h1>
    <div class="container contain "> 
        
       
        
     <div class="row">
         <div class="col-lg-6 col-md-12 col-12">
       
    <div class="wrapper1">



            <h2>  <strong>DEPOSIT  FORM</strong> </h2>
            <form action="">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control same acc" id="acc" placeholder="name@example.com" >
                    <label for="floatingInput">Account No</label>
                </div>

               
                <div class="form-floating">
                    <input type="password" class="form-control same pass" id="pass" placeholder="Password" >
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control same amn" id="amn" placeholder="name@example.com" >
                    <label for="floatingInput">Amount</label>
                </div><br><br>
                <div>
                    <button type="button" class="btn btn-primary btn-lg bttn" onclick="Bank.login()">DEPOSIT</button> 
                </div>
                








            </form> 
            

        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-12">
       
        <div class="wrapper2">
    
                
    
                <h2> <strong>WITHDRAW  FORM</strong> </h2>
                <form action="">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control same acc" id="acc" placeholder="name@example.com" >
                        <label for="floatingInput">Account No</label>
                    </div>
    
                    
                    <div class="form-floating">
                        <input type="password" class="form-control same pass" id="pass" placeholder="Password" >
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control same amn" id="amn" placeholder="name@example.com" >
                        <label for="floatingInput">Amount</label>
                    </div><br><br>
                    <div>
                        <button type="button" class="btn btn-primary btn-lg bttn" onclick="Bank.login()">WITHDRAW</button> 
                    </div>
                    
    
    
    
    
    
    
    
    
                </form> 
                
    
            </div>
        </div>
    </div>

    </div>


</body>